.meetVideoContainer{
    position: relative;
    height: 100vh;
    background-color: rgb(31, 29, 29);
}
.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.buttonContainers{
    position: absolute;
    width: 100vw;
    
    bottom: 0;
    text-align: center;
}

.buttonContainers svg{
    font-size: 3rem;
}
.conferenceView{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.conferenceView video{
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.chatRoom{
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chattingArea{
    position: absolute;
    bottom: 0;
}
